@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-banner" id="top">
    <video autoplay muted loop id="bg-video">
        <source src="~/Content/Image/intro.mp4" type="video/mp4" />
    </video>
    <div class="video-overlay header-text">
        <div class="caption">
            
            <h2>Değer<em>üreten</em>ÜNİVERSİTE</h2>
            <div class="logo"><a href="/"><img src="~/Content/Image/düzceuni.png" alt="Düzce Üniversitesi"></a></div>
            <div class="main-button scroll-to-section">
                
            </div>
        </div>
    </div>
</div>



