
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section" id="our-classes">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>ÜNİVER<em>SİTEMİZ</em></h2>

                   
                </div>
            </div>
        </div>
        <div class="row" id="tabs">
            <div class="col-lg-4">
                <ul>
                    <li><a href='#tabs-1' style="font-size:17px"><img src="Content/images/tabs-first-icon.png" alt="">KAMPÜS</a></li>
                    <li><a href='#tabs-2' style="font-size:17px"><img src="Content/images/tabs-first-icon.png" alt="">ETKİNLİK ALANI</a></a></li>
                    <li><a href='#tabs-3' style="font-size:17px"><img src="Content/images/tabs-first-icon.png" alt="">KONFERAS SALONU</a></a></li>
                    <li><a href='#tabs-4' style="font-size:15px"><img src="Content/images/tabs-first-icon.png" alt="">FUTBOL SAHASI</a></a></li>
                    
                </ul>
            </div>
            <div class="col-lg-8">
                <section class='tabs-content'>
                    <article id='tabs-1' style="padding-top:5px">
                        
                        <img src="~/Content/Image/kampus2.jpg" alt="KAMPUS">
                        <h4>OKULUMUZUN KAMPÜSÜ</h4>
                        <p>
                            Düzce Üniversitesi Kampüsü fiziki ve sosyal anlamda bütünsellik ifade eden, planlamanın sonucu olmaktan öte; değişik zaman aşamalarında günün gereksinimi olan kararlarla, birbirinden bağımsız uygulamaların ortaya konduğu dağınık bir yerleşme dokusunu ifade etmektedir. Zorlu topografyası, omurgasız yapısı ve araca dayalı ulaşım sistemi eğitim birimlerinin birbirinden kopuk olmasına ve yerleşkenin parçalı gelişmesine neden olmuştur. Bu durum kampüsün merkezindeki toplanma/sosyalleşme alanının işlevini yerine getirememesini ortaya çıkarmakla birlikte, kampüs genelinin verimli kullanılamamasına ve çevreyle bağlantı kuramamasına yol açmıştır.

                            Bu sebeple sosyal ve kültürel faaliyetlere elverişli, sürdürülebilir ulaşımın ön planda olduğu, topografyanın avantaja dönüştürüldüğü, fakülte birimlerinin birbiriyle bağlantısının kurulabildiği, çevreyle etkileşim içinde olan bir kampüs kavramı, planlama yaklaşımında temel ilkeyi ifade etmektedir.
                        </p>

                    </article>
                    <article id='tabs-2' style="padding-top:5px">
                        <img src="~/Content/Image/img.jpg" alt="YESİLLİK">
                        <h4>ETKİNLİK ALANI</h4>
                        <p> Yeşillikler içinde doğası ile birlikte öğrencilerimiz boş vakitlerini çeşitli aktiviteler ile geçirebilmektedir. Festival düzenleneceği zaman bu alan kullanılır. </p>

                    </article>
                    <article id='tabs-3' style="padding-top:5px">
                        <img src="~/Content/Image/img1.jpg" alt="KONFERANS">
                        <h4>KONFERANS SALONU</h4>
                        <p>Tiyatro etkinliklieri, sunumlar, konferansların yapıldığı konferans salonu.</p>

                    </article>
                    <article id='tabs-4' style="padding-top:5px">
                        <img src="~/Content/Image/saha.jpg" alt="SAHA">
                        <h4>FUTBOL SAHASI</h4>
                        <p>
                           OKULUMUZUN AMERİKAN FUTBOLU SAHASI
                        </p>

                    </article>
                </section>
            </div>
            
        </div>
        </div>
</section>

